* {
  margin: 0;
  padding: 0;
}

.canva {
  height: 100vh;
  width: 98vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.circle {
  width: 70vmin;
  height: 70vmin;
  background: #484848;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 3px 3px 30px 1px #b99bc9;
}

.console {
  position: relative;
  width: 30vmin;
  height: 45vmin;
  border-bottom-right-radius: 50px;
  box-sizing: border-box;
  background-image: linear-gradient(to bottom right, #ff8ac2, #ff007b);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: 7px solid #a0004d;
}

.screen {
  position: absolute;
  width: 25vmin;
  height: 18vmin;
  background-image: linear-gradient(to bottom right, #d1d1d1, #4f4f4f);
  border-radius: 5%;
  top: 2vmin;
  left: 1.75vmin;
  border: 3px solid #757575;
}

.arrow-key-one {
  position: absolute;
  width: 2vmin;
  height: 7vmin;
  background-color: #4c4c4c;
  border-radius: 10%;
  top: 25vmin;
  left: 7vmin;
  border-bottom: 4px solid #000;
  border-right: 4px solid #000;
}

.arrow-key-two {
  position: absolute;
  width: 2vmin;
  height: 7vmin;
  background-color: #4c4c4c;
  border-radius: 10%;
  top: 25vmin;
  left: 7vmin;
  transform: rotate(-90deg);
  border-bottom: 4px solid #000;
}

.circle-button-one {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  background-color: #4c4c4c;
  border-radius: 50%;
  top: 25vmin;
  left: 21vmin;
  border-bottom: 3px solid #000;
  border-right: 3px solid #000;
}

.circle-button-two {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  background-color: #4c4c4c;
  border-radius: 50%;
  top: 27.5vmin;
  left: 24vmin;
  border-bottom: 3px solid #000;
  border-right: 3px solid #000;
}

.circle-button-three {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  background-color: #4c4c4c;
  border-radius: 50%;
  top: 30vmin;
  left: 21vmin;
  border-bottom: 3px solid #000;
  border-right: 3px solid #000;
}


.circle-button-four {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  background-color: #4c4c4c;
  border-radius: 50%;
  top: 27.5vmin;
  left: 18vmin;
  border-bottom: 3px solid #000;
  border-right: 3px solid #000;
}

.bottom-button-one {
  position: absolute;
  width: 1.5vmin;
  height: 4vmin;
  background-color: #4c4c4c;
  border-radius: 25%;
  top: 37vmin;
  left: 9vmin;
  transform: rotate(45deg);
  border-top: 3px solid #000;
  border-left: 3px solid #000;
}

.bottom-button-two {
  position: absolute;
  width: 1.5vmin;
  height: 4vmin;
  background-color: #4c4c4c;
  border-radius: 25%;
  top: 37vmin;
  left: 14vmin;
  transform: rotate(45deg);
  border-top: 3px solid #000;
  border-left: 3px solid #000;
}

@media (max-width:767px) {
  .console {
    border-bottom-right-radius: 42px;
  }
}

@media (max-width:540px) {
  .screen {
    width: 24.5vmin;
}
}

@media (max-width:480px) {
  .screen {
    width: 24.25vmin;
}

  .console {
    border-bottom-right-radius: 35px;
  }
}

@media (max-width:375px) {
  .screen {
    width: 23.5vmin;
}

.console {
  border-bottom-right-radius: 30px;
}
}

.console-line-one {
  position: absolute;
  width: .5vmin;
  height: 4.5vmin;
  background-color: #860041;
  border-radius: 25%;
  top: 37vmin;
  left: 21vmin;
  transform: rotate(-32deg);
}

.console-line-two {
  position: absolute;
  width: .5vmin;
  height: 4.5vmin;
  background-color: #860041;
  border-radius: 25%;
  top: 36.5vmin;
  left: 22vmin;
  transform: rotate(-32deg);
}

.console-line-three {
  position: absolute;
  width: .5vmin;
  height: 4.5vmin;
  background-color: #860041;
  border-radius: 25%;
  top: 36vmin;
  left: 23vmin;
  transform: rotate(-32deg);
}

.console-line-four {
  position: absolute;
  width: .5vmin;
  height: 4.5vmin;
  background-color: #860041;
  border-radius: 25%;
  top: 35.5vmin;
  left: 24vmin;
  transform: rotate(-32deg);
}

.console-line-five {
  position: absolute;
  width: .5vmin;
  height: 4.5vmin;
  background-color: #860041;
  border-radius: 25%;
  top: 35vmin;
  left: 25vmin;
  transform: rotate(-32deg);
}


/* Start New Illustration */
.circle-two {
  width: 70vmin;
  height: 70vmin;
  background: #b1dee9;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 3px 3px 30px 1px #9a9a9a;
}

.lid-top {
  position: absolute;
width: 200px;
height: 25px;
top: 15vmin;
background: #3d3d3d;
border-top-right-radius: 3px;
border-top-left-radius: 3px;
margin-top: 80px;
}

.lid-bottom {
  position: absolute;
  width: 250px;
  height: 40px;
  top: 29vmin;
  background: #3d3d3d;
  border-radius: 3px;
}

.lid-shadow {
  position: absolute;
	border-bottom: 15px solid #cfcfcf;
	border-left: 2px solid transparent;
	border-right: 2px solid transparent;
	height: 0;
	width: 225px;
  top: 35vmin;
  rotate:calc(180deg);
}

.cup-top {
  position: absolute;
	border-bottom: 40px solid #e3e3e3;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	height: 0;
	width: 210px;
  top: 37vmin;
  rotate:calc(180deg);
}

.cup-sleeve {
  position: absolute;
	border-bottom: 125px solid #5a0390;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	height: 0px;
	width: 175px;
  top: 42vmin;
  rotate:calc(180deg);
}

.cup-sleeve p {
  position: absolute;
  rotate:calc(180deg);
  font-size: 70px;
  font-family: Sacramento;
  text-align: center;
  color: #fff;
  font-weight: 900;
  top: 1vmin;
  left: 6vmin;
}

.cup-bottom {
  position: absolute;
	border-bottom: 75px solid #e3e3e3;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	height: 0;
	width: 140px;
  top: 22vmin;
  rotate:calc(180deg);
  z-index: 99;
  position: relative;
}

.shadow {
  position: absolute;
  width: 200px;
  height: 100px;
  top: 90vmin;
  background: #98c0c9;
  z-index: 98;
  position: relative;
  top: 105px;
  clip-path: ellipse(50% 10%);
}

/* End New Illustration */











