/* Start Suitecase */

.background {
  width: 70vmin;
  height: 70vmin;
  background: #d6bd2f;
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 3px 3px 30px 1px #9a9a9a;
}

.suitcase {
  position: relative;
  width: 45vmin;
  height: 25vmin;
  box-sizing: border-box;
  background: #993a0a;
  border: 15px solid #812c02;
  border-radius: 20px;
  z-index: 98 !important;
  top: 2.5vmin;
}

.suitcase-shadow {
  position: relative;
  width: 41.25vmin;
  height: 8vmin;
  box-sizing: border-box;
  background: #a44718;
  top: 13.5vmin;
}

.suitcase-stitch {
  position: relative;
  width: 40vmin;
  height: 20vmin;
  box-sizing: border-box;
  border: 3px dashed #784c17;
  top: .5vmin;
  left: .5vmin;
}

.handle {
  position: relative;
  width: 10vmin;
  height: 4vmin;
  border-top: 15px solid #764a03;
  border-left: 10px solid #764a03;
  border-right: 10px solid #764a03;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  top: 3vmin;
  z-index: 96 !important;
}

.strap-one {
 position: absolute;
  width: 3vmin;
  height: 26vmin;
  background-color: #622100;
  z-index: 98 !important;
  left: 10vmin;
  top: -16vmin;
}

.strap-holes {
  position: absolute;
  border-left: 5px dotted #000000;
  height: 15vmin;
  width: 0vmin;
  top: 5vmin;
  left: 1.25vmin;
}

.buckle-one {
  position: absolute;
  width: 3vmin;
  height: 5vmin;
  border: 3px solid #e3b80b;
  border-radius: 5px;
  z-index: 98 !important;
  top: 7vmin;
  left: -.25vmin;
}

.buckle-latch {
  position: absolute;
  width: .5vmin;
  height: 2vmin;
  background:#e3b80b;
  border-radius: 5px;
  z-index: 98 !important;
  top: -1vmin;
  left: 1.25vmin;
}

.strap-two {
  position: absolute;
   width: 3vmin;
   height: 26vmin;
   background-color: #622100;
   z-index: 98 !important;
   left: 28vmin;
   top: -16vmin;
 }

 .buckle-two {
  position: absolute;
  width: 3vmin;
  height: 5vmin;
  border: 3px solid #e3b80b;
  border-radius: 5px;
  z-index: 98 !important;
  top: 7vmin;
  left: -.25vmin;
}


@media (max-width:1680px) {
  .suitcase-shadow {
    width: 100%;
}
}

@media (max-width:767px) {
  .suitcase-shadow {
    height: 7.5vmin;
}
}

@media (max-width:650px) {
  .strap-one {
    top: -16.5vmin;
    left: 9vmin;
}

.strap-two {
  top: -16.5vmin;
}
}

@media (max-width:550px) {
  .suitcase {
    border: 10px solid #812c02;
    border-radius: 12px;
}

  .suitcase-shadow {
    height: 7.75vmin;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.strap-one {
  top: -15.75vmin;
  left: 10vmin;
}

.strap-two {
  top: -15.75vmin;
  left: 28.5vmin;
}
}


@media (max-width:480px) {
  .suitcase {
    border: 5px solid #812c02;
    border-radius: 10px;
}

  .strap-one {
    top: -15.25vmin;
    left: 9vmin;
}

.strap-two {
  top: -15.25vmin;
  left: 30vmin;
}

.buckle-one {
  left: -.5vmin;
}

.buckle-two {
  left: -.5vmin;
}

.suitcase-shadow {
  height: 8.5vmin;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
}
/* End Suitecase */


/* Start Gameboy */
* {
  margin: 0;
  padding: 0;
}

.canva {
  height: 100vh;
  width: 98vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.circle {
  width: 70vmin;
  height: 70vmin;
  background: #484848;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 3px 3px 30px 1px #b99bc9;
}

.console {
  position: relative;
  width: 30vmin;
  height: 45vmin;
  border-bottom-right-radius: 50px;
  box-sizing: border-box;
  background-image: linear-gradient(to bottom right, #ff8ac2, #ff007b);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: 7px solid #a0004d;
}

.screen {
  position: absolute;
  width: 25vmin;
  height: 18vmin;
  background-image: linear-gradient(to bottom right, #d1d1d1, #4f4f4f);
  border-radius: 5%;
  top: 2vmin;
  left: 1.75vmin;
  border: 3px solid #757575;
}

.arrow-key-one {
  position: absolute;
  width: 2vmin;
  height: 7vmin;
  background-color: #4c4c4c;
  border-radius: 10%;
  top: 25vmin;
  left: 7vmin;
  border-bottom: 4px solid #000;
  border-right: 4px solid #000;
}

.arrow-key-two {
  position: absolute;
  width: 2vmin;
  height: 7vmin;
  background-color: #4c4c4c;
  border-radius: 10%;
  top: 25vmin;
  left: 7vmin;
  transform: rotate(-90deg);
  border-bottom: 4px solid #000;
}

.circle-button-one {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  background-color: #4c4c4c;
  border-radius: 50%;
  top: 25vmin;
  left: 21vmin;
  border-bottom: 3px solid #000;
  border-right: 3px solid #000;
}

.circle-button-two {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  background-color: #4c4c4c;
  border-radius: 50%;
  top: 27.5vmin;
  left: 24vmin;
  border-bottom: 3px solid #000;
  border-right: 3px solid #000;
}

.circle-button-three {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  background-color: #4c4c4c;
  border-radius: 50%;
  top: 30vmin;
  left: 21vmin;
  border-bottom: 3px solid #000;
  border-right: 3px solid #000;
}


.circle-button-four {
  position: absolute;
  width: 2vmin;
  height: 2vmin;
  background-color: #4c4c4c;
  border-radius: 50%;
  top: 27.5vmin;
  left: 18vmin;
  border-bottom: 3px solid #000;
  border-right: 3px solid #000;
}

.bottom-button-one {
  position: absolute;
  width: 1.5vmin;
  height: 4vmin;
  background-color: #4c4c4c;
  border-radius: 25%;
  top: 37vmin;
  left: 9vmin;
  transform: rotate(45deg);
  border-top: 3px solid #000;
  border-left: 3px solid #000;
}

.bottom-button-two {
  position: absolute;
  width: 1.5vmin;
  height: 4vmin;
  background-color: #4c4c4c;
  border-radius: 25%;
  top: 37vmin;
  left: 14vmin;
  transform: rotate(45deg);
  border-top: 3px solid #000;
  border-left: 3px solid #000;
}

@media (max-width:767px) {
  .console {
    border-bottom-right-radius: 42px;
  }
}

@media (max-width:540px) {
  .screen {
    width: 24.5vmin;
}
}

@media (max-width:480px) {
  .screen {
    width: 24.25vmin;
}

  .console {
    border-bottom-right-radius: 35px;
  }
}

@media (max-width:375px) {
  .screen {
    width: 23.5vmin;
}

.console {
  border-bottom-right-radius: 30px;
}
}

.console-line-one {
  position: absolute;
  width: .5vmin;
  height: 4.5vmin;
  background-color: #860041;
  border-radius: 25%;
  top: 37vmin;
  left: 21vmin;
  transform: rotate(-32deg);
}

.console-line-two {
  position: absolute;
  width: .5vmin;
  height: 4.5vmin;
  background-color: #860041;
  border-radius: 25%;
  top: 36.5vmin;
  left: 22vmin;
  transform: rotate(-32deg);
}

.console-line-three {
  position: absolute;
  width: .5vmin;
  height: 4.5vmin;
  background-color: #860041;
  border-radius: 25%;
  top: 36vmin;
  left: 23vmin;
  transform: rotate(-32deg);
}

.console-line-four {
  position: absolute;
  width: .5vmin;
  height: 4.5vmin;
  background-color: #860041;
  border-radius: 25%;
  top: 35.5vmin;
  left: 24vmin;
  transform: rotate(-32deg);
}

.console-line-five {
  position: absolute;
  width: .5vmin;
  height: 4.5vmin;
  background-color: #860041;
  border-radius: 25%;
  top: 35vmin;
  left: 25vmin;
  transform: rotate(-32deg);
}

/* End Gameboy */






